<nav class="navbar">
  <ul class="navbar-list">
    <li class="navbar-item"><a routerLink="/about-us">About Us</a></li>
    <li class="navbar-item dropdown">
      <a href="#">Insurance Products</a>
      <ul class="dropdown-menu">
        <li class="dropdown-item"><a routerLink="/private-car-insurance">Private Car Insurance</a></li>
        <li class="dropdown-item"><a routerLink="/scotty-insurance">Scotty Insurance</a></li>
        <li class="dropdown-item"><a routerLink="/commercial-insurance">Commercial Insurance</a></li>
      </ul>
    </li>
    <li class="navbar-item"><a routerLink="/motor-insurance">Motor Insurance</a></li>
    <li class="navbar-item"><a routerLink="/health-insurance">Health Insurance</a></li>
    <li class="navbar-item"><a routerLink="/term-insurance">Term Insurance</a></li>
    <li class="navbar-item"><a routerLink="/life-insurance">Life Insurance</a></li>
  </ul>
</nav>
